---
import { getCollection } from "astro:content"

import Layout from "../layouts/PageLayout.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection("work")

  return blogEntries.map(entry => ({
    params: { work: entry.slug },
    props: { entry },
  }))
}

const { data } = Astro.props.entry
// console.log(data) // title | slug | year | type | role | url | audio | desc
---

<Layout title="Home">
  <section class="px-gx pt-gy flex justify-end">
    <a class="underline" href="/">HOME</a>
  </section>
  <section class="px-gx py-gy">
    <h1 class="text-xl">{data.title}</h1>

    <div class="flex gap-2 py-2">
      <p>{data.year}</p>
      <p>{data.type}</p>
    </div>

    <p>{data.role}</p>

    <div class="py-gy max-w-[60ch] leading-5">
      <p>{data.desc}</p>
    </div>

    <div class="flex gap-8">
      {
        data.client && (
          <a class="underline" target="_blank" href={data.clientUrl}>
            {data.client}
          </a>
        )
      }

      <a class="underline" target="_blank" href={data.url}>LIVE PROJECT</a>
    </div>
  </section>
  <section>
    <div class="px-gx">
      <img src={data.img} alt={data.imgAlt} />
    </div>
  </section>
</Layout>
