---
import { getCollection } from "astro:content"
import Layout from "../layouts/PageLayout.astro"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const blogEntries = await getCollection("work")
---

<Layout title="Home">
  <Header />

  <ul class="px-gx py-gy min-h-[70vh] flex flex-col justify-center">
    {
      blogEntries.map(item => {
        return (
          <li class="py-[.4em] w-full hover:underline ">
            <a href={item.slug} class="flex justify-between">
              <h2 class="">{item.data.title}</h2>
              <div class="flex md:w-2/3 ">
                <p class="w-1/3 md:block hidden ">{item.data.type}</p>
                <p class="w-1/3 md:block hidden">{item.data.year}</p>
                <p class="md:w-1/3 ">{item.data.year}</p>
              </div>
            </a>
          </li>
        )
      })
    }
  </ul>

  <Footer />
</Layout>

<!--
    <div class="aspect-square border  h-[10vh]">
              <img
                class="object-cover w-full h-full"
                src={item.data.img}
                alt={item.data.imgAlt}
              />
            </div>
            

  -->
